In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import time
import os
import json
from pandas.io.json import json_normalize

In [6]:
pip install tsfresh

Collecting tsfresh
  Downloading https://files.pythonhosted.org/packages/46/52/978e078fb1fe411b85f04b224cd54267b53096111f88a5513b7bffa181f6/tsfresh-0.16.0-py2.py3-none-any.whl (85kB)
     |████████████████████████████████| 92kB 2.4MB/s
Requirement already satisfied: pandas!=0.24.*,>=0.20.3 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (1.0.5)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (2.23.0)
Requirement already satisfied: dask[dataframe]>=0.15.2 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (2.12.0)
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (0.22.2.post1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (0.5.1)
Requirement already satisfied: numpy>=1.15.1 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (1.18.5)
Requirement already satisfied: tqdm>=4.10.0 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (4.41.1)
Requirement already satisfied: statsmodels>=0.8.0 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (0.10.2)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (1.4.1)
Requirement already satisfied: distributed>=1.18.3 in /usr/local/lib/python3.6/dist-packages (from tsfresh) (1.25.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas!=0.24.*,>=0.20.3->tsfresh) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas!=0.24.*,>=0.20.3->tsfresh) (2018.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->tsfresh) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->tsfresh) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->tsfresh) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->tsfresh) (2020.6.20)
Requirement already satisfied: fsspec>=0.6.0; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]>=0.15.2->tsfresh) (0.7.4)
Requirement already satisfied: toolz>=0.7.3; extra == "dataframe" in /usr/local/lib/python3.6/dist-packages (from dask[dataframe]>=0.15.2->tsfresh) (0.10.0)
Collecting partd>=0.3.10; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/44/e1/68dbe731c9c067655bff1eca5b7d40c20ca4b23fd5ec9f3d17e201a6f36b/partd-1.1.0-py3-none-any.whl
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.19.0->tsfresh) (0.16.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->tsfresh) (1.12.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.18.3->tsfresh) (2.0.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.18.3->tsfresh) (7.1.2)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.18.3->tsfresh) (2.2.2)
Requirement already satisfied: cloudpickle>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.18.3->tsfresh) (1.3.0)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.18.3->tsfresh) (5.4.8)
Requirement already satisfied: tblib in /usr/local/lib/python3.6/dist-packages (from distributed>=1.18.3->tsfresh) (1.6.0)
Requirement already satisfied: tornado>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=1.18.3->tsfresh) (4.5.3)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from distributed>=1.18.3->tsfresh) (3.13)
Requirement already satisfied: msgpack in /usr/local/lib/python3.6/dist-packages (from distributed>=1.18.3->tsfresh) (1.0.0)
Collecting locket
  Downloading https://files.pythonhosted.org/packages/d0/22/3c0f97614e0be8386542facb3a7dcfc2584f7b83608c02333bced641281c/locket-0.2.0.tar.gz
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=1.18.3->tsfresh) (1.0.1)
Building wheels for collected packages: locket
  Building wheel for locket (setup.py) ... done
  Created wheel for locket: filename=locket-0.2.0-cp36-none-any.whl size=4040 sha256=0057dbf29c00df70acbca7818a402534a84fa71120f069426784ae5f687d6689
  Stored in directory: /root/.cache/pip/wheels/26/1e/e8/4fa236ec931b1a0cdd61578e20d4934d7bf188858723b84698
Successfully built locket
Installing collected packages: tsfresh, locket, partd
Successfully installed locket-0.2.0 partd-1.1.0 tsfresh-0.16.0

In [8]:
import tsfresh

In [10]:
from tsfresh.examples.har_dataset import download_har_dataset, load_har_dataset, load_har_classes
from tsfresh import extract_features, extract_relevant_features, select_features
from  tsfresh.feature_extraction  import  extract_features

In [13]:
data_folder = '/content/drive/My Drive/flink_metric_data_new/'
folder = []
for i in os.walk('/content/drive/My Drive/flink_metric_data_new'):
    folder.append(i)

In [26]:
common_df = pd.DataFrame(columns = ['name', 'max', 'min', 'range', 'coef_var', 'num_peaks1', 'num_peaks2'])

In [27]:
common_df.head()

Empty DataFrame
Columns: [name, max, min, range, coef_var, num_peaks1, num_peaks2]
Index: []

In [35]:
row_list=[]

In [16]:
print(row_list)

[]

In [36]:
dict1={}

In [30]:
data_folder = '/content/drive/My Drive/flink_metric_data_new/'
with open(f"{data_folder}10h4id8fd1ii4477diifdd5d3iig9596_15360_129942_read_records_per_second.json") as f:
    data = json.load(f)
    df = pd.DataFrame(data['datapoints'])
    df.drop('unit',axis=1,inplace=True)

In [25]:
tsfresh.feature_extraction.feature_calculators.number_peaks(df.average, 40)

24

In [ ]:
print(dict1)

{}

In [37]:
 
for address, dirs, files in folder:
  for file in files:
    with open(address+'/'+file) as f:
      data = json.load(f)
      df = pd.DataFrame(data['datapoints'])
      df.drop('unit',axis=1,inplace=True)
      df = df.set_index(['timestamp'])
      df.index = pd.to_datetime(df.index, unit='ms')
      df_mean=pd.DataFrame()
      df_mean['average'] = df.average.resample('30T').sum()
      dict1 ={}
      coef_variation = -1
      if (df_mean['average'].mean()!=0):
        coef_variation=df_mean['average'].std()/df_mean['average'].mean()
      dict1.update({'name':file,'max': df_mean['average'].max(), 
                    'min': df_mean['average'].min(),
                    'range':df_mean['average'].max()-df_mean['average'].min(),
                    'coef_var': coef_variation,
                    'num_peaks1': tsfresh.feature_extraction.feature_calculators.number_peaks(df_mean.average, 5), })
      #print(dict1)
      row_list.append(dict1)
      
common_df = pd.DataFrame(row_list)

In [38]:
common_df.head(20)

                                                 name  ...  num_peaks1
0   f2i2650h5edh4f179g21985f69838257_16838_165885_...  ...          14
1   f2i2650h5edh4f179g21985f69838257_16838_165883_...  ...           0
2   f2i2650h5edh4f179g21985f69838257_16838_165884_...  ...           0
3   f2i2650h5edh4f179g21985f69838257_16838_165884_...  ...           0
4   ge5e1f4e1gg14621d76087h68g63gd6e_16536_155394_...  ...           0
5   d7h8e83ief014e59dii5id3ie14585i2_13599_184341_...  ...           0
6   f2i2650h5edh4f179g21985f69838257_16838_165880_...  ...           0
7   eid906e5eg02401geg5h28i7d3980dgi_18440_160457_...  ...          22
8   9g79i0fh02064f90e83dg5g06d8e1h1i_6381_97647_wr...  ...          18
9   f2i2650h5edh4f179g21985f69838257_16838_165881_...  ...          14
10  9g79i0fh02064f90e83dg5g06d8e1h1i_6381_96786_wr...  ...          26
11  d7h8e83ief014e59dii5id3ie14585i2_13599_184340_...  ...           0
12  9g79i0fh02064f90e83dg5g06d8e1h1i_6381_97655_wr...  ...          24
13  d7h8e83ief014e59dii5id3ie14585i2_13599_184341_...  ...           0
14  ge5e1f4e1gg14621d76087h68g63gd6e_16536_155156_...  ...           0
15  ge5e1f4e1gg14621d76087h68g63gd6e_16536_155393_...  ...           0
16  f2i2650h5edh4f179g21985f69838257_16838_165881_...  ...          15
17  f2i2650h5edh4f179g21985f69838257_16838_165883_...  ...           0
18  9g79i0fh02064f90e83dg5g06d8e1h1i_6381_97655_re...  ...          16
19  eid906e5eg02401geg5h28i7d3980dgi_18440_160442_...  ...          13

[20 rows x 6 columns]

In [42]:
common_df.to_csv('/content/drive/My Drive/common_df.csv')

In [ ]:
#проверка на стационарность

In [ ]:
#