In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import time
import os
import json
from pandas.io.json import json_normalize

In [15]:
data_folder = '/content/drive/My Drive/flink_metric_data_new/'
folder = []
for i in os.walk('/content/drive/My Drive/flink_metric_data_new'):
    folder.append(i)

In [31]:
common_df = pd.DataFrame(columns = ['name', 'max', 'min', 'range', 'coef_var'])

In [17]:
common_df.head()

Empty DataFrame
Columns: [name, max, min, range]
Index: []

In [32]:
row_list=[]

In [166]:
print(row_list)

[]

In [33]:
dict1={}

In [20]:
print(dict1)

{}

In [34]:
 
for address, dirs, files in folder:
  for file in files:
    with open(address+'/'+file) as f:
      data = json.load(f)
      df = pd.DataFrame(data['datapoints'])
      df.drop('unit',axis=1,inplace=True)
      df = df.set_index(['timestamp'])
      df.index = pd.to_datetime(df.index, unit='ms')
      df_mean=pd.DataFrame()
      df_mean['average'] = df.average.resample('30T').mean()
      dict1 ={}
      coef_variation = -1
      if (df_mean['average'].mean()!=0):
        coef_variation=df_mean['average'].std()/df_mean['average'].mean()
      dict1.update({'name':file,'max': df_mean['average'].max(), 
                    'min': df_mean['average'].min(),
                    'range':df_mean['average'].max()-df_mean['average'].min(),
                    'coef_var': coef_variation})
      #print(dict1)
      row_list.append(dict1)
      
common_df = pd.DataFrame(row_list)

In [35]:
common_df.head(20)

                                                 name  ...  coef_var
0   f2i2650h5edh4f179g21985f69838257_16838_165885_...  ...  0.897736
1   f2i2650h5edh4f179g21985f69838257_16838_165883_...  ... -1.000000
2   f2i2650h5edh4f179g21985f69838257_16838_165884_...  ... -1.000000
3   f2i2650h5edh4f179g21985f69838257_16838_165884_...  ... -1.000000
4   ge5e1f4e1gg14621d76087h68g63gd6e_16536_155394_...  ... -1.000000
5   d7h8e83ief014e59dii5id3ie14585i2_13599_184341_...  ... -1.000000
6   f2i2650h5edh4f179g21985f69838257_16838_165880_...  ... -1.000000
7   eid906e5eg02401geg5h28i7d3980dgi_18440_160457_...  ...  0.813553
8   9g79i0fh02064f90e83dg5g06d8e1h1i_6381_97647_wr...  ...  0.008330
9   f2i2650h5edh4f179g21985f69838257_16838_165881_...  ...  0.604574
10  9g79i0fh02064f90e83dg5g06d8e1h1i_6381_96786_wr...  ...  0.011543
11  d7h8e83ief014e59dii5id3ie14585i2_13599_184340_...  ... -1.000000
12  9g79i0fh02064f90e83dg5g06d8e1h1i_6381_97655_wr...  ...  0.000728
13  d7h8e83ief014e59dii5id3ie14585i2_13599_184341_...  ... -1.000000
14  ge5e1f4e1gg14621d76087h68g63gd6e_16536_155156_...  ... -1.000000
15  ge5e1f4e1gg14621d76087h68g63gd6e_16536_155393_...  ... -1.000000
16  f2i2650h5edh4f179g21985f69838257_16838_165881_...  ...  0.592362
17  f2i2650h5edh4f179g21985f69838257_16838_165883_...  ... -1.000000
18  9g79i0fh02064f90e83dg5g06d8e1h1i_6381_97655_re...  ...  0.018298
19  eid906e5eg02401geg5h28i7d3980dgi_18440_160442_...  ...  0.335045

[20 rows x 5 columns]

In [201]:
#проверка на нормальность(однородность)

In [23]:
#проверка на стационарность

In [ ]:
#